APP_ENV=local
APP_DEBUG=1
APP_URL=http://localhost:8080
APP_SESSION_NAME=cardmancer_session

DB_HOST=db
DB_PORT=3306
DB_NAME=cardmancer
DB_USER=cardmancer
DB_PASSWORD=cardmancer
DB_ROOT_PASSWORD=root

UPLOAD_MAX_BYTES=5242880
